//@import "comfy/vendor/bootstrap/bootstrap"
@import "spree/backend/global/variables"
@import "bootstrap4_variables"
@import "comfy/vendor/codemirror"
@import "comfy/vendor/fontawesome"
@import "comfy/vendor/redactor"
@import "comfy/vendor/flatpickr.min"

@import "comfy/admin/cms/codemirror_overrides"
@import "comfy/admin/cms/redactor_overrides"
@import "comfy/admin/cms/base"
@import "comfy/admin/cms/custom"

body#comfy
  #cms-main
    .form-actions
      position: relative
    .page-header .btn
      float: right
    ul.list li .row .item .item-content
      .item-title a
        font-size: 1.5rem
      .item-meta
        font-size: 1.2rem
    .svg-inline--fa.fa-w-14
      font-size: 20px