@import "spree/backend/global/variables"
@import "bootstrap4_variables"
@import "comfy/vendor/codemirror"
@import "comfy/vendor/fontawesome"
@import "comfy/vendor/redactor"
@import "comfy/vendor/flatpickr.min"

@import "comfy/admin/cms/codemirror_overrides"
@import "comfy/admin/cms/redactor_overrides"
@import "comfy/admin/cms/base"
@import "comfy/admin/cms/custom"

body#comfy
  #cms-main
    ul.list.sortable
      li
        list-style: none
        
body#comfy
  #cms-main
    .form-actions
      position: relative
    .page-header .btn
      float: right
    ul.list.sortable li
      ul
        margin-left: 20px
      //.row .item .item-controls .toggle
      //  display: none
    ul.list li
      .row
        .btn-group:
          float: right
        //.item .item-content
          .item-title a
            font-size: 1.5rem
          .item-meta
            font-size: 1.2rem
    //.svg-inline--fa.fa-w-14
      font-size: 20px